/* stylelint-disable docusaurus/copyright-header */

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can override the default Infima variables here. */

:root {
  --ifm-link-color: #1984b2;
  --ifm-color-primary-dark: #22d3ee;
  --ifm-color-primary-darker: #1984b2;
  --ifm-color-primary-darkest: #0891b2;
  --ifm-color-primary: #1984b2;
  --ifm-color-primary-light: #cfe1e4;
  --ifm-color-primary-lighter: #a5f3fc;
  --ifm-color-primary-lightest: #cffafe;
  --ifm-code-font-size: 95%;
  --ifm-navbar-item-padding-horizontal: 20px;
  --ifm-navbar-padding-vertical: 12px;
  /* --ifm-navbar-height: 0rem; */
  --ifm-navbar-padding-horizontal: 16px;
  --doc-sidebar-border-radius: 100%;
  --ifm-global-radius: 0.4rem;
  --ifm-toc-border-color: transparent;
  --ifm-menu-color-background-active: rgba(32, 179, 196, 0.1);
  --ifm-menu-color-active: #1984b2;
  --ifm-navbar-padding-vertical: 0;
  --ifm-navbar-padding-horizontal: 0;
  --ifm-spacing-horizontal: 4rem;
  --ifm-background-color: #f9fafb;
  --docsearch-searchbox-background: #f9fafb;
  --docsearch-searchbox-focus-background: #f9fafb;
  --ifm-navbar-background-color: #f9fafb;
  --ifm-code-background: transparent;
}

h1,
h2,
h3 {
  font-family: 'Inter', sans-serif;
}
html[data-theme='dark'] h1 {
  color: #ffff;
}
html[data-theme='dark'] h2 {
  color: #ffff;
}
html[data-theme='dark'] h3 {
  color: #ffff;
}
html[data-theme='dark'] h4 {
  color: #ffff;
}
html[data-theme='dark'] {
  --ifm-dropdown-background-color: #1e293b !important;
}

@media (max-width: 600px) {
  :root {
    --ifm-spacing-horizontal: 1rem;
  }
}
html[data-theme='dark'] {
  --ifm-navbar-background-color: #111827;
  --ifm-toc-border-color: transparent;
  --ifm-background-color: #111827;
  --docsearch-searchbox-background: #111827;
  --docsearch-searchbox-focus-background: #111827;
  --ifm-menu-color: #9ba4af;
  --ifm-footer-background-color: rgba(17, 24, 39, 1);
  --ifm-toc-link-color: #9ba4af;
  --ifm-code-color: #ffff;
  color: #bdc7d4;
  --ifm-link-color: #06b6d4;
  --ifm-color-primary-dark: #22d3ee;
  --ifm-color-primary-darker: #06b6d4;
  --ifm-color-primary-darkest: #0891b2;
  --ifm-color-primary: #06b6d4;
  --ifm-color-primary-light: #cfe1e4;
  --ifm-color-primary-lighter: #a5f3fc;
  --ifm-color-primary-lightest: #cffafe;
  --ifm-menu-color-active: #06b6d4;
}

html[data-theme='dark'] .menu__link.menu__link--sublist {
  color: #cbd5e1 !important;
}
.themeable {
  box-shadow: 0 0 50px rgb(0 0 0 / 15%);
}
header h1 {
  margin-bottom: 10px !important;
}
.menu--responsive {
  margin-top: 10px;
}

.prism-code::-webkit-scrollbar {
  width: 0px !important;
  height: 0px !important;
  display: none !important;
}
.prism-code::-webkit-scrollbar-track {
  width: 0px !important;
  height: 0px !important;
}
.prism-code::-webkit-scrollbar-thumb {
  display: none !important;
  height: 0 !important;
  width: 0 !important;
}

.markdown code {
  font-weight: 700;
}

@layer utilities {
  @variants responsive {
    .masonry-3-col {
      column-count: 3;
      column-gap: 1em;
    }
    .masonry-2-col {
      column-count: 2;
      column-gap: 1em;
    }
    .break-inside {
      break-inside: avoid;
    }
  }
}

.main-wrapper-docs {
  max-width: 100%;
  width: 100%;
  align-self: center;
}

.main-wrapper {
  max-width: 90rem;
  width: 1400px;
  align-self: center;
}

@media (max-width: 1400px) {
  #__docusaurus {
    max-width: 100%;
    /* overflow-x: hidden; */
  }
  .main-wrapper {
    max-width: 100%;
    width: 100%;
  }
}

@media (max-width: 1320px) and (min-width: 997px) {
  .container {
    max-width: calc(
      var(--ifm-container-width) - 125px - var(--ifm-spacing-horizontal) * 2
    );
  }
}

html[data-theme='dark'] .DocSearch-Button-Key {
  background: #20232a;
  box-shadow: inset 0 -2px 0 0 #565657, inset 0 0 1px 1px #737373,
    0 2px 2px 0 rgba(3, 4, 9, 0.3);
  top: 0;
  margin-right: 0;
  margin-left: 0.4rem;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.snack-player {
  overflow: hidden;
  border: 1px solid var(--ifm-table-border-color);
  border-radius: 8px;
  height: 505px;
  width: 100%;
}

.navbar {
  box-shadow: none;
  height: 64px;
  max-width: 86rem;
  align-self: center;
  border-bottom: 1px solid #e0e0e0;
  background-color: transparent;
}
html[data-theme='dark'] .navbar {
  border-bottom: 1px solid #333;
  background-color: transparent;
  /* backdrop-filter: blur(10px); */
}
.navbar-small {
  /* background-color: rgba(255, 255, 255, 0.199);
  backdrop-filter: blur(10px); */
}
html[data-theme='dark'] .navbar-small {
  background-color: #111827c7;
  backdrop-filter: blur(10px);
}
.navbar .navbar__inner {
  /* max-width: 1360px; */
  /* margin: 0 auto; */
  flex-wrap: nowrap;
}

.main-wrapper .menu {
  padding: 0;
}

.navbar .navbar__title {
  font-weight: 600;
  font-size: 18px;
}

.navbar .navbar__link {
  font-weight: 300;
  font-size: 18px;
}

.navbar .dropdown a {
  font-weight: 400;
  font-size: 14px;
}

.navbar .navbar__brand:hover {
  color: var(--brand);
}

.navbar .navbar__logo {
  width: 38px;
  height: 42.68px;
}

.navbar .DocSearch-Button {
  margin-right: 16px;
  /* border-radius: var(--ifm-global-radius); */
}

/*
.navbar__link:hover,
.navbar__link--active {
  color: white;
} */

/**
 * Copyright (c) Facebook, Inc. and its affiliates.
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE file in the root directory of this source tree.
 */

/* your custom css */

@media (max-width: 480px) {
  .headerTitleWithLogo {
    display: block !important;
  }
  .component-screenshot {
    width: 90%;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 10px;
  }
  .projectTitle > small {
    font-size: 45% !important;
  }
  .projectTitle .customLogo {
    font-size: 75% !important;
  }
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
  .component-screenshot {
    width: 70%;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 10px;
  }
}

@media only screen and (min-width: 1024px) {
  .component-screenshot {
    width: 70%;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 10px;
  }
}

@media only screen and (max-width: 1023px) {
  .component-screenshot {
    width: 70%;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 10px;
  }
}

@media only screen and (min-width: 1400px) {
  .component-screenshot {
    width: 50%;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 10px;
  }
}

@media only screen and (min-width: 1500px) {
  .component-screenshot {
    width: 40%;
    border: 1px solid rgb(228, 228, 228);
    border-radius: 10px;
  }
}

.blockContent h2 {
  text-align: left !important;
  font-size: 22px;
}

.blockContent div {
  text-align: left !important;
}

.blockContent small {
  font-size: 18px;
}

.mainContainer .container.paddingTop {
  padding-top: 0px;
}

.homeSplashFade {
  background-color: #6863a9;
  /* background-color: #47b8c5; */
}

.homeSplashFade .projectTitle {
  color: white;
}

.homeSplashFade .button {
  color: white;
  border-color: white;
}

.navigationSlider .slidingNav ul li a {
  border-radius: 3px;
}

.navigationSlider .slidingNav ul li a:hover {
  border-radius: 3px;
  color: #ffffff;
}

.logo {
  height: 70% !important;
}

.customLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeSplashFade .button {
  padding-left: 20px;
  padding-right: 20px;
  padding: 15px 35px;
  border-radius: 10px;
  background-color: white;
  color: #6863a9;
  font-weight: 700;
  font-size: 15px;
}

.projectTitle > small {
  display: block;
  font-size: 65%;
  line-height: 1.5em;
  margin: 1.3em 25px;
}

.tagline {
  font-weight: 300;
  letter-spacing: 1.5px;
}

.custom_row {
  padding-top: 80px;
  padding-bottom: 80px;
  width: 100%;
}

.custom_row:after {
  content: '';
  display: table;
  clear: both;
}

.column_list > div {
  text-align: center;
}

.column_list > div > p {
  color: #5e5e5e;
}

.column_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  grid-gap: 3rem;
  align-items: flex-start;
  text-align: left;
}

/* backlinks section */

.backlink {
  padding-bottom: 1rem;
}

.backlink img {
  vertical-align: middle;
  margin-right: 10px;
}

.backlink h2 {
  margin-bottom: 5px;
  margin-top: 0px;
}

.backlink h2 a {
  color: black;
}

.backlink h2 a:hover {
  color: #6863a9;
}

.moreProjects {
  padding-left: 12.6%;
  padding-right: 12.6%;
}

#moreProjectsHeading {
  font-size: 2rem;
}

@media only screen and (max-width: 1024px) {
  .moreProjects {
    padding-left: 0;
    padding-right: 0;
    margin-left: 15px;
  }
}

/* sidebar badge */

.menu__link[href*='/swipable-list']:after,
.menu__link[href*='/date-picker']:after,
.menu__link[href*='/cascader']:after,
.menu__link[href*='/pagination']:after {
  content: 'Coming soon';
  display: inline-block;
  position: relative;
  top: 1px;
  margin-right: -6px;
  padding: 3px 6px;
  border: 1px solid var(--ifm-color-primary);
  border-radius: 3px;
  color: var(--ifm-color-primary);
  text-transform: uppercase;
  font-size: 10px;
  line-height: 10px;
  height: 10px;
  font-weight: 600;
}

.menu__link[href*='/swipable-list'],
.menu__link[href*='/date-picker'],
.menu__link[href*='/cascader'],
.menu__link[href*='/pagination'] {
  pointer-events: none;
  cursor: not-allowed;
  text-decoration: none;
  opacity: 0.6;
}

.label {
  display: inline-block;
  position: relative;
  font-size: 0.75rem;
  font-weight: 500;
  color: #fff;
  padding: 2px 16px;
  border-radius: 16px;
}

/* Label skeuomorphic hole */

.label:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 5px;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background: #fff;
}

/* Basic label */

.label.basic {
  border-radius: 3px;
  border-style: solid;
  border-width: 2px;
}

/* Label variants */

.label.android {
  background: #9bbb37;
}

.label.android:before {
  border-right-color: #9bbb37;
}

.label.web {
  background: #004466;
}

.label.web:before {
  border-right-color: #004466;
}

.label.ios {
  background: #222;
}

.label.ios:before {
  border-right-color: #222;
}

html[data-theme='dark'] .label {
  color: #2c2c2c;
}

html[data-theme='dark'] .label:after {
  background: var(--ifm-background-color);
}

html[data-theme='dark'] .label.ios {
  background: #fff;
}

html[data-theme='dark'] .label.web {
  background: #e2e8f0;
}

html[data-theme='dark'] .label:before {
  border-right-color: #fff;
}

@media (min-width: 325px) {
  .container {
    max-width: 100%;
  }
}

.container {
  max-width: 93rem !important;
}

.kichen-sink-iframe {
  border: 10px solid black;
  border-radius: 54px;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 360px;
  max-width: 95vw;
  height: 680px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.kichen-sink-iframe-notch {
  width: 60%;
  position: absolute;
  z-index: 9;
  top: -3px;
}

.kichen-sink-iframe-iframe {
  height: 100%;
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  position: absolute;
}

.kichen-sink-iframe-safe-aria {
  /* height: 100px; */
  /* background-color: rgb(15, 23, 42); */
  background-color: red;
  width: 100%;
  position: absolute;
  z-index: 9;
  top: -10px;
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.main-wrapper {
  --doc-sidebar-width: 280px;
}

.menu__link--sublist {
  font-size: 0.75rem;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.menu__list-item {
  font-size: 0.875rem;
}

html[data-theme='light'] .menu__link.menu__link--sublist {
  color: rgb(17, 24, 39);
}

html[data-theme='dark'] .menu__link.menu__link--sublist {
  color: rgb(250, 250, 250);
}

.menu__link.menu__link--sublist {
  text-transform: uppercase;
}

.menu__link--sublist:after {
  height: 0.5rem;
  width: 0.875rem;
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
}

.menu:hover.thin-scrollbar::-webkit-scrollbar-thumb {
  background: var(--ifm-scrollbar-thumb-background-color);
}

/* as we've reduced --ifm-spacing-horizontal in paddin, we'll give it back to snack-player */
.snack-player {
  width: calc(100% + var(--ifm-spacing-horizontal));
}

a[href*='/next/install-expo'].menu__link {
  display: none !important;
}
a[href*='/next/install-rn'].menu__link {
  display: none !important;
}
a[href*='/next/install-cra'].menu__link {
  display: none !important;
}
a[href*='/next/install-next'].menu__link {
  display: none !important;
}
a[href*='/install-expo'].menu__link {
  display: none !important;
}
a[href*='/install-rn'].menu__link {
  display: none !important;
}
a[href*='/install-cra'].menu__link {
  display: none !important;
}
a[href*='/install-next'].menu__link {
  display: none !important;
}
