html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    position: relative;
}
#nativebase-body-light ::-moz-selection {
  /* Code for Firefox */
  background: #cffafe;
}

#nativebase-body-light ::selection {
  background: #cffafe;
}

#nativebase-body-dark ::-moz-selection {
  /* Code for Firefox */
  background: #155e75;
}

#nativebase-body-dark ::selection {
  background: #155e75;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
